.services {
	padding-top: 100px;
	padding-bottom: 118px;
}
.services__title {
	margin-bottom: 20px;
}
.services__subtitle {
	margin-bottom: 76px;
}
.services__row {
	display: flex;
	justify-content: space-between;
	margin: 0px -25px;
}
.services__column {
	padding: 0px 25px;
	cursor: pointer;
}
.services__item {
	position: relative;
	border-radius: 8px;
	overflow: hidden;

}
.services__item-img {
	display: block;
	-webkit-transition: all 1s ease 0s;
	-moz-transition: all 1s ease 0s;
	-o-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}
.services__item-img:hover {
	transform: scale(1.2);
}
.services__item-text {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	padding: 0px 26px;
	color: #fff;
}

.services__item-title {
	font-family: Fira Sans;
	font-weight: bold;
	font-size: 20px;
	color: var(--white-color);
	margin-bottom: 12px;
}
.services__item-descr {
	font-size: 18px;
	line-height: 22px;
	color: var(--white-color);
	margin-bottom: 16px;
}
